# vim: ft=bash:

# direnv configuration (see: https://direnv.net/)

if has nix; then
    use flake

    # nix_direnv_watch_file "requirements.txt"
    watch_file "requirements.txt"
    nix_watches+=("requirements.txt")
else
    echo "WARNING: nix not found, using layout python3 instead"
    layout python3
fi
