# vim: ft=bash:

# direnv configuration (see: https://direnv.net/)

if ! on_git_branch; then
    echo "WARNING: Not in a git repo, it is recommended to keep track of your flake with git"
fi

if has nix; then
    use flake

    # https://github.com/nix-community/nix-direnv
    if ! has nix_direnv_version || ! nix_direnv_version 2.0.0; then
        echo "WARNING: nix-direnv version 2.0.0 or higher is recommended"
    else
        nix_direnv_watch_file *.nix .*.nix
    fi

else
    echo "WARNING: nix not found"
fi
